venv/
__pycache__/
aws-secret-envs.txt
.env
*.docx
*.tmp
*.db
filmed-media-system-firebase-adminsdk-7946c-3a93766c6e.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
